import init.variant.rc

## Service start here
service cir_fw_update /system/bin/cir_fw_update -u cir.img
    class main
    user system
    group system
    oneshot

service dhcpcd_usb0 /system/bin/dhcpcd -dABKL
     group dhcp
     disabled
     oneshot

service iprenew_usb0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

